body {
    background-color: beige;
    overflow-x: hidden;
    margin: auto 2vw;
    font-size: 1.4vw;
}

h1 {
    color: rgb(173, 77, 44);
}

h2 {
    color: rgb(124, 54, 30);
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

li {
    border: solid 1px black;
    border-collapse: collapse;
    flex: 1;
    margin: auto;
    text-align: center;   
}

li > a, li > a:checked {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
}

li:hover {
    background-color: bisque;
}

#texto {
    display: flex;
}

.texto {
    flex: 1;
    border-right: dashed 1px black;
    margin: 5px;
}
img #foto{
    max-width: 400px;
    width: 1svw;
    height: auto;
}

img .fotoClicavel {
    width: 1920px;
    height: auto;
}

div.cores{
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    font-size: 20px;
}

table{
    width: 100%;
}

th {
    border-radius: 14px;
}
td, th{
    border:solid 1px black;
    border-collapse: collapse;
    padding: 5px;
    height: 15px;
}

tr:hover{
    background-color: rgba(150, 150, 150,0.4);
}

area:hover{
    background-color:black ;
}

iframe {
    margin: 20px auto;
}

@media (max-width: 900px) {
    body {
        font-size: 4vw;
    }
    img {
        width: 70%;
        margin: auto;
    }
    ul, li, #texto {
        flex-direction: column;
        width: 100%;
    }
    .texto {
        border: none;
    }
    #iframe, .fotoClicavel {
        display:none;
    }
}

form {
    margin: 20px;
    
}

input {
    display: inline-block;
    margin: 10px 0;
}

fieldset > div {
    margin: 10px 30px;
}

fieldset > div > div {
    display: inline-block;
    margin: 4px;
}

fieldset {
    display: inline-block;
}

select {
    margin: 20px;
}

.graficos {
    float: left;
}

